name: run-aosd-check

on:
  push:
  workflow_dispatch:

jobs:
  ort:
    name: Check AOSD with ort
    runs-on: ubuntu-latest
    steps:
      - name: Use HTTPS instead of SSH for Git cloning
        run: git config --global url.https://github.com/.insteadOf ssh://git@github.com/

      - name: Checkout project
        uses: actions/checkout@v5

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run GitHub Action for ORT
        uses: oss-review-toolkit/ort-ci-github-action@v1.1.0
